* {
  margin: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: gray;
  align-items: center;
}

.phone {
  color: black;
}

.container {
  display: inline-block;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.logo {
  height: 90px;
  margin-top: 7px;
}

.heroImage {
  border: 1px solid black;
  background: url(heroImage.jpg) no-repeat center center fixed;
  background-size: cover;
  max-width: 100vw;
  height: 70vh;
}

h2 {
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.formContainer {
  display: flex;
  align-items: flex-end;
  position: absolute;
  width: 100%;
  height: 62vh;
}

input,
label {
  margin: 5px 5px;
}

.form-group {
  margin: 30px auto;
  width: 450px;
}

.form-control {
  float: left;
}

#inputStreet {
  width: 100%;
}

#inputCity {
  width: 50%;
}

#inputState {
  width: 15%;
}

#inputZip {
  width: 28%;
}

#inputCounty {
  width: 45%;
}

#inputCountry {
  width: 50%;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  left: -15px;
  width: 400px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgb(0, 0, 0, 0.3);
  transform: translateX(-200%);
  transition: transform 0.4s ease;
}

.box img {
  width: 400px;
  height: 200px;
}

.box.show {
  transform: translateX(50px);
}

.text {
  width: 90vw;
  margin: auto;
}

p {
  font-size: 25px;
  color: black;
}

footer {
  width: 100vw;
  height: 50px;
  background-color: black;
  color: white;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

@media only screen and (max-width: 620px) {
  .heroImage {
    border: 1px solid black;
    background: url(heroImage.jpg);
    background-size: cover;
    max-width: 100vw;
    height: 50vh;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .address-form {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100vw;
    bottom: 20px;
  }

  .formContainer {
    height: 38vh;
  }
  .box.show {
    transform: translateX(10%);
    width: 150px;
    align-items: center;
    margin: auto;
  }
  .box {
    box-shadow: none;
  }
  p {
    font-size: 20px;
  }
  .text {
    width: 95vw;
    margin: 10px 0 0 10px;
  }
}
