* {
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: gray;
  align-items: center;
}

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.logo {
  height: 90px;
  margin-top: 7px;
}

.heroImage {
  border: 1px solid black;
  background: url(heroImage.jpg) no-repeat center center fixed;
  background-size: cover;
  max-width: 100vw;
  height: 70vh;
  object-fit: cover;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
}

h2 {
  margin: 50px;
}

p {
  font-size: 25px;
}

.formContainer {
  display: flex;
  align-items: flex-end;
  position: absolute;
  width: 100%;
  height: 70vh;
}

input,
label {
  margin: 5px 5px;
}

.form-group {
  margin: 30px auto;
  width: 450px;
}

.form-control {
  float: left;
}

#inputStreet {
  width: 100%;
}

#inputCity {
  width: 50%;
}

#inputState {
  width: 15%;
}

#inputZip {
  width: 28%;
}

#inputCounty {
  width: 45%;
}

#inputCountry {
  width: 50%;
}

/* @media only screen and (min-width: 620px) {
  .address-form {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100vw;
    bottom: 20px;
  }
} */
